title: Neural Networks for Finance
description: BSc-level neural networks lecture series with finance applications
baseurl: /neural-networks-introduction
url: https://digital-ai-finance.github.io

# Use our custom layout
defaults:
  - scope:
      path: ""
    values:
      layout: default

# Markdown settings
markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false
